* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-font-family: 'bely display';
    --primary-color: #F3E1AC;
    --secundary-color: #420A17;
    --tertiere-color:  #022923
}

body {
    background-color: var(--primary-color);
    font-family: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}

.logo {
    height: 50px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.main-nav a {
    color: var(--secundary-color);
    text-decoration: none;
}

.banner img {
    width: 100%;
    height: auto;
    display: block; 
    object-fit: cover; 
}


.banner h1 {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secundary-color); /* Adjust color for visibility */
    text-align: center;
    font-size: 2.5rem; /* Adjust as needed */
    padding: 10px;
    border-radius: 8px;
}

.logo {
    top: 10px; 
    right: 10px; 
}

.logo img {
    width: 100px; 
    height: auto;
    
}

section.intro {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 10px;
    line-height: 200%;
    word-wrap: break-word;
    max-width: 90%;
}

section.tekst {
    padding-right: 2%;
    padding-left: 2%;
    margin: 10px;
    line-height: 200%;
    word-wrap: break-word;
    max-width: 90%;
}

.billede{
    width: 30%;
    height: 20%;
    margin: 5%;
}



.viskestykke {
    width: 100%;
    height: auto;
    display: block; 
    object-fit: cover; 
}


figure.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-top: 2%;
}


/* .intro {
    margin-bottom: 20px;
  } */
  
  .intro p {
    font-size: 1rem;
    color: #333;
    text-align: justify;
  }
  
  .tekst {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .tekst article h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0px;
  }
  
  .tekst article p {
    font-size: 1rem;
    color: #333;
    text-align: justify;
    margin-bottom: 0;
  }

  article.bunden {
    padding-right: 2%;
    padding-left: 2%;
    margin: 10px;
    line-height: 200%;
    word-wrap: break-word;
    max-width: 90%;
  }

 