* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-font-family: 'bely display';
    --primary-color: #F3E1AC;
    --secundary-color: #420A17;
    --tertiere-color:  #003317;
}

body {
    background-color: var(--primary-color);
    font-family: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: var(--primary-color); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    height: 75px;
    width: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.main-nav a {
    color: var(--secundary-color);
    text-decoration: none;
}

.banner img {
    width: 100%;
    height: auto;
    display: block; 
    object-fit: cover; 
}

.velkommen {
    position: absolute;
    top: 26%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: var(--secundary-color);
    font-size: 55px; 
    font-weight: bold;
    text-align: center;
}

.img{
    width: 35%;
    height: 10%;
    margin: 5%;
    border: 20px solid lightblue; /* Adjust the border thickness and color */
    border-radius: 8px; /* Optional: makes corners rounded */
}

.indgredienser {
    position: absolute; /* Allows precise positioning */
    top: 400px; /* Distance from the top of the page */
    right: 450px; /* Distance from the right side of the page */
    width: 300px; /* Set a width for the article */
    padding: 10px;
    line-height: 300%;
    color: var(--tertiere-color);
}

.indgredienser label {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
}
 
 .underoverskrift{
    padding: 10px;
    padding-left: 3%;
    line-height: 200%;
    color:#420A17;
 }

 .fremgangsmåde{
    margin: 10px;
    padding-left: 3%;
    line-height: 200%;
    word-wrap: break-word;
    max-width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5%;
 }


 
 .næringsindhold {
    position: absolute;
    top: 166%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: var(--primary-color); 
    font-size: 40px; 
    font-weight: bold;
    text-align: center;
 }


 .infotekstsamlet {
    margin: 10px;
    padding-left: 3%;
    line-height: 200%;
    word-wrap: break-word;
    max-width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
 } 

 .infotekst {
    margin: 10px;
    padding-left: 3%;
    line-height: 200%;
    word-wrap: break-word;
    max-width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



img {
    width: 100%;
    height: auto;
    display: block; 
    object-fit: cover; 
}